<div class="text-center">
    ระบุหมายเลขโทรศัพท์มือถือ
     <br>
    <input type="text" [(ngModel)]="mobileNo">

    <br>
    <button class="btn btn-success" (click)="onSubmit()">ถัดไป</button>
</div>

