<app-header-bar></app-header-bar>
<app-title-bar [pageTitle]="pageTitle"></app-title-bar>
<app-info-bar [locationCode]="locationCode" [ascCode]="ascCode"></app-info-bar>


<!-- <app-input-mobile-no *ngIf="step===1" (onCompleteNumber)="onCompleteNumber()"></app-input-mobile-no> -->
<app-input-mobile-no (newItemEvent) ="setPage($event)"></app-input-mobile-no>
{{ step }}
<!-- <br><br>
<button class="btn btn-success" (click)="pageTitle='แสดงตัวตน'">1</button>
<button class="btn btn-success" (click)="pageTitle='ใส่บัตรประชาชน'">2</button>

<br>
<button class="btn btn-success" (click)="onChangeTitle(1)">1</button>
<button class="btn btn-success" (click)="onChangeTitle(2)">2</button> -->
