<div class="row">
    <div class="col-6"><p class="ml-3 font-weight-bold">{{ appTitle }}</p></div>
    <div class="col-6 text-right"><p class="mr-3"><img class="icon" src="assets/images/home.png"></p></div>
</div>